 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif; /*verificar*/
 }

 body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/2000x1200/?landscape"); /*verificar*/
 }
 .caixa-maior {
    background: #000;
    opacity: 0.9;
    border-radius: 25px;
    padding: 25px;
    width: 90%;
    max-width: 480px;
 }
 .input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;/*verificar*/
    color: #fff;
    width: calc(100% - 60px);
 }
 .botao-buscar {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    background-color: #7c7c7c2b; /*verificar*/
    cursor: pointer;
    float: right;
 }

 .img-search {
    width: 23px; 
 }
.caixa-media {
   margin-top: 30px;
}
.cidade{
   color: #fff;
   font-size: 40px;
   font-weight: 300;
   margin-left: 6px;
}
.temp {
   font-size: 40px;
   color: #fff;
   margin-top: 20px;
   margin-left: 6px;
}
.caixa-menor{
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.descricao{
   color: #fff;
   margin-left: 20px;
   font-size: 40px;
   text-transform: capitalize;
}
.umidade {
   color: #fff;
   margin-top: 20px;
   margin-left: 6px;
   font-size: 40px;
}
.img-previsao {
   width: 100px;
   height: 100px;
}